{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
<ul class="note list">
    {{- range $paginator.Pages -}}
    <li class="item">

            {{- $relURL := .RelPermalink -}}
            {{- $imgs := .Params.featuredimage -}}
            {{- with .Params.featuredimage -}}
                <span class="note imgs">
                    {{- $imgCount := len $imgs -}}
                    {{- range $imgs -}}
                    {{- $imgurl := lower . -}}
                    {{- if and (not (hasPrefix $imgurl "http://")) (not (hasPrefix $imgurl "https://")) -}}
                    {{- $imgurl = path.Join $relURL . -}}
                    {{- end -}}
                    <img class="img" src="{{- $imgurl -}}" alt />
                    {{- end -}}
                </span>
            {{- end -}}
        <a class="note" href="{{- .RelPermalink -}}">
        <div class="post-card-content">
            <p class="note title">{{- .Title | safeHTML -}}</p>
            {{- if .Date -}}
                <p class="note date">{{- .Date.Format $dateFormat -}}</p>
            {{- end -}}
            {{- if .Summary -}}<p class="note content">{{- .Summary | plainify | safeHTML -}}{{- if .Truncated -}}<span>&mldr;</span>{{- end -}}</p>{{- end -}}
        </a>
        {{- if or .Params.categories .Params.tags -}}
            <p class="note labels">
                {{- range .Params.categories -}}
                {{- $url := print "/categories/" (. | urlize) "/" -}}
                <a class="note category" href="{{- $url | relURL -}}"><span class="hashtag">#</span>{{- . -}}</a>
                {{- end -}}
                {{- range .Params.tags -}}
                {{- $url := print "/tags/" ( . | urlize) "/" -}}
                <a class="note tag" href="{{- $url | relURL -}}"><span class="hashtag">#</span>{{- . -}}</a>
                {{- end -}}
            </p>
        {{- end -}}</div>
    </li>
    {{- end -}}
</ul>
{{- end -}}
